# Models and Tasks
*.tflite filter=lfs diff=lfs merge=lfs -text
*.task filter=lfs diff=lfs merge=lfs -text
assets/gemma3-1b-it-int4.task filter=lfs diff=lfs merge=lfs -text

# Other large binaries
*.psd filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
